<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Medico</h4>
                <h6 class="card-subtitle">Actualizar Información</h6>
                <form class="form p-t-20" [formGroup]="medicoForm" (submit)="save()">

                    <div class="form-group row" *ngIf="selectedMedico">
                        <label class="col-sm-3">Fotografía</label>
                        <div class="input-group col-sm-9">
                            <img class="avatar cursor" [style.width]="'200px'" [src]="selectedMedico.img | imagen" alt="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del medico">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospitales</label>
                        <div class="input-group">
                            <select class="form-control" formControlName="hospital">
                                <option value="">Seleccione un hospital</option>
                                <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <button [disabled]="this.medicoForm.invalid" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 animated fadeIn fast" *ngIf="selectedHospital">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle"> {{ selectedHospital.nombre }}</h6>

                <div class="d-flex justify-content-center">
                    <img class="avatar cursor" [style.width]="'200px'" [src]="selectedHospital.img | imagen" alt="">
                </div>
            </div>
        </div>
    </div>
</div>